<h1>{{appTitle}} 🚀</h1>
<p>Welcome Berlinluver!</p>

<div class="container-fluid">
  <div class="row">
    <!-- Dropdown menu on the left side -->
    <div class="col-md-6">
      <label for="categorySelect">Select Category:</label>
      <select id="categorySelect" class="form-control">
        <option value="all">All Places</option>
        <option value="restaurants">Taste Explorer</option>
        <option value="bars">Sip & Socialize</option>
        <option value="clubs">Club Chronicles</option>
        <option value="parties">Where is the party at tonight?</option>
      </select>

      <h3>Selected Places</h3>
      <ul id="selectedPlaces" class="list-group">
        <!-- Selected places will be added dynamically here -->
      </ul>
      <button id="showRouteBtn" class="btn btn-primary mt-2">
        Show Route
      </button>
    </div>
    <!-- Map on the right side -->
    <div class="col-md-6">
      <div id="map"></div>
    </div>
  </div>
</div>
<script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>