/* .first-color {
  background: #f70776;
}

.second-color {
  background: #c3195d;
}

.third-color {
  background: #680747;
}

.fourth-color {
  background: #141010;
}

(hovercolor = black like it already is in the bootstrap dark button standard)
*/

body {
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}
h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#map {
  height: 380px;
  margin-top: 1%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.place,
.favorites {
  display: inline-flex;
}

.btn.btn-dark,
.btn.btn-dark:focus {
  padding: 6px 12px;
  color: white;
  background-color: #1f6f78;
  border-radius: 4px;
  box-shadow: none;
  margin: 1px 5px;
}

.place-btn {
  padding: 6px 12px;
  color: white;
  border-radius: 4px;
  box-shadow: none;
  margin: 5px 5px;
}

.btn.btn-dark.cta {
  padding: 6px 12px;
  color: white;
  background-color: #f70776;
  border: 1px solid #f70776;
  border-radius: 4px;
  margin: 10px 5px;
}

.btn.btn-dark.selected {
  padding: 6px 12px;
  color: white;
  background-color: #c3195d;
  border: 1px solid #c3195d;
  border-radius: 4px;
}

/* test */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: #333;
  color: #fff;
  padding: 10px;

  border: none;
  cursor: pointer;
}

.directions-container {
  font-size: 12px;
}

.circle {
  box-shadow: black 0px 0px 0px 1px;
  opacity: 1;
}
/* Category-specific styles */
.breluncoffee {
  background-color: #1f6f78; /* Sunny Yellow */
  color: white;
  border: 1px solid #1f6f78;
}

.bar {
  background-color: #2a7a7f; /* Coral Orange */
  color: white;
  border: 1px solid #2a7a7f;
}

.shop {
  background-color: #358586; /* Fuchsia Pink */
  color: white;
  border: 1px solid #358586;
}

.exhibition {
  background-color: #40908d; /* Bright Purple */
  color: white;
  border: 1px solid #40908d;
}

.restaurant {
  background-color: #4b9c94; /* Turquoise Blue */
  color: white;
  border: 1px solid #4b9c94;
}

.tourist {
  background-color: #56a79b; /* Coral Orange */
  color: white;
  border: 1px solid #56a79b;
}

.club {
  background-color: #61b2a2; /* Lime Green */
  color: white;
  border: 1px solid #61b2a2;
}

.museum {
  background-color: #6cbda9; /* Electric Red */
  color: white;
  border: 1px solid #6cbda9;
}

.park {
  background-color: #77c8b0; /* Forest Green */
  color: white;
  border: 1px solid #77c8b0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}
