/* .first-color {
  background: #f70776;
}

.second-color {
  background: #c3195d;
}

.third-color {
  background: #680747;
}

.fourth-color {
  background: #141010;
}

(hovercolor = black like it already is in the bootstrap dark button standard)
*/

body {
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}

p {
  font-size: 12px;
}

h3 {
  font-size: 12px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#map {
  height: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.btn.btn-dark,
.btn.btn-dark:focus {
  padding: 6px 12px;
  color: white;
  background-color: #680747;
  border: 1px solid #680747;
  border-radius: 4px;
  box-shadow: none;
  margin: 10px 10px;
}

.btn.btn-dark.cta {
  padding: 6px 12px;
  color: white;
  background-color: #f70776;
  border: 1px solid #f70776;
  border-radius: 4px;
  margin: 20px 5px;
}

.btn.btn-dark.selected {
  padding: 6px 12px;
  color: white;
  background-color: #c3195d;
  border: 1px solid #c3195d;
  border-radius: 4px;
}
